#discover-col {
    left: 0px;
    position: relative;
    transition: left 0.195s cubic-bezier(0.4, 0.0, 1, 1);
}

#discover-img {
}

#discover-review-content {
    color: grey;
    font-style: italic;
    font-size: 80%;
    padding-bottom: 10px;
}

#discover-review-user {
    font-weight: bold;
    font-size: 80%;
    padding-top: 5px;
}

#discover-description {
    font-size: 110%;
    margin: 0.5px;
}

#discover-skip-button {
    background-color: rgb(206, 0, 0);
    margin-left: 30px;
}

#discover-details-button {
    background-color: rgb(1, 161, 1);
    float: right;
    margin-right: 30px;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.stars-outer::before {
content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
position: absolute;
top: 0;
left: 0;
white-space: nowrap;
overflow: hidden;
width: 0;
}

.stars-inner::before {
content: "\f005 \f005 \f005 \f005 \f005";
color: #f8ce0b;
}